@font-face {
    font-family: DroidSans;
    src: url(Fonts/DroidSans.ttf);
}

#logo {
    text-align: justify;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

#word {

    font-family: 'DroidSans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;

    display: flex;
    align-items: flex-end;

    color: rgba(0, 0, 0, 0.86);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#image {
    margin-top: 2em;
}

.box {
    margin-left: 4em;
    display: flex;
    justify-content: space-evenly;
}

#latBox {
    box-sizing: border-box;
    background: rgba(107, 182, 236, 0.5);
    border: 1px solid #6BB6EC;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

#lonBox {
    box-sizing: border-box;
    background: rgba(107, 182, 236, 0.5);
    border: 1px solid #6BB6EC;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

#radBox {
    box-sizing: border-box;
    background: rgba(107, 182, 236, 0.5);
    border: 1px solid #6BB6EC;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.title {
    width: 240px;
    height: 37px;
    left: 49px;
    top: 202px;

    font-family: 'DroidSans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: rgba(0, 0, 0, 0.85);
}

.wordbox {
    display: table-cell;
    vertical-align: text-bottom;
    height: 50px;
    position: relative;
}

.wordbox label {
    display: block
}


#button {
    width: 214px;
    height: 41px;
    left: calc(50% - 214px/2 + 540px);
    top: calc(50% - 41px/2 - 252.5px);

    background: #068CEC;
    box-shadow: 0px 8px 4px rgba(21, 51, 16, 0.25);

    cursor: pointer;
    border-width: 0px;
}

#logout {
    width: 214px;
    height: 41px;
    left: calc(50% - 214px/2 + 540px);
    top: calc(50% - 41px/2 - 252.5px);

    background: #068CEC;
    box-shadow: 0px 8px 4px rgba(21, 51, 16, 0.25);
    float: right;

    cursor: pointer;
    border-width: 0px;
}

.buttonWord {
    margin-top: auto;
    padding-bottom: 30px;
    width: 196px;
    height: 45px;
    left: calc(50% - 214px/2 + 560px);
    top: calc(50% - 41px/2 - 252.5px);
    font-family: 'DroidSans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

table {
    margin-left: 2em;
    width: 50%;
}

tr {
    border: solid;
}

.map1 {
    display: flex;
    justify-content: space-evenly;
}

#map {
    height: 400px;
    width: 50%;
}